#highScore{
  width: 60%;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 52%;
  overflow: auto;
}
#scoreName{
  font-size: 30px;
  text-decoration-line: underline;
  float: left;
  padding-left: 15%;
}
#scorelist{  
  font-size: 30px;
  text-decoration-line: underline;
  float: right;
  padding-right: 18%;
}
ol {
  padding-top: 7%;
  line-height: 2em;
}
li{
  width: 70%;
  margin-left: 10%;
  padding-bottom: 3.5%;
  list-style: decimal;
}
#scoreDisplay{
float: right;
text-align: right;
}

#score-footer{
  bottom: -4px;
}