body {
  background-color: #304F5E;
  color: #46B9AB;
  font-size: 1.2em;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  font-family: 'Anton', sans-serif;
  background-color: #CBC556;
}

nav a {
  margin-top: 30px;
  font-style: italic;
  font-size: 30px;
  color: #304F5E;
}

nav a:hover {
  color: #F6927C;
}

#logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 4em;
  text-decoration: underline;
  margin-top: 10px;
  margin-left: -100px;
}

.play-space {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-gap: 2px;
  grid-auto-rows: 100px;
  grid-auto-columns: min-content;
  border-style: groove;
  border-color: #F6927C;
  border-width: 5px;
  max-width: 302px;
  margin: 0 auto;
  margin-top: 2em;
}

.tile {
  height: 100px;
  width: 100px;
  color: #304F5E;
  border-radius: 5px;
  text-align: center;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 30px;
  color: #F6927C;
}

h5 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 30px;
  color: #F6927C;
}

footer {
  background-color: #CBC556;
  height: 100px;
  margin-top: 5em;
  color: #304F5E;
}

.sub-heading {
  color: #F6927C;
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}

#game-instructions {
  margin: 2em 0 0 2em;
}

li {
  list-style-type: disc;
}

#copyright {
  text-align: center;
  padding-top: 40px;
}

#user-form {
  margin: 2em 0 0 2em;
}

.board-number {
  font-size: 500%;
}

#move-counter {
  text-align: center;
  margin-top: 2em;
  color: #F6927C;
}

/*** About Us Styles ***/

.about-us{
  text-align: center; 
}

h2{
  margin: 30px; 
  font-size: 35px;
  font-weight: bold;
  animation-direction: reverse;
  animation: slideup 4s linear;
}

h3{
  font-size: 30px;
}

p{
  margin-bottom: 30px;
  animation-direction: reverse;
  animation: slideup 5s linear;
}

@keyframes slideup {
  from {
    margin-bottom: 100%;
   
  }

  to {
    margin-bottom: 0%;
  }
}