body {
  background-color: #eee;
  margin: 2em;
}
nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;

}
.play-space {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-auto-columns: min-content;
  border-style: groove;
  border-color: red;
  border-width: 5px;
  max-width: 620px;
  margin: 0 auto;
}

