body {
  background-color: #304F5E;
  font-family: 'Anton', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  font-family: 'Anton', sans-serif;
  background-color: #CBC556;
}

nav a {
  margin-top: 30px;
  font-style: italic;
  font-size: 30px;
  color: #304F5E;
}

nav a:hover {
  color: #F6927C;
}

#logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 4em;
  text-decoration: underline;
  margin-top: 10px;
  margin-left: -100px;
}

.play-space {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-auto-columns: min-content;
  border-style: groove;
  border-color: #46B9AB;
  border-width: 5px;
  max-width: 620px;
  margin: 0 auto;
}

.tile {
  height: 200px;
  width: 200px;
  background-color: #aaa;
  color: green;
  font-size: 150%;
  border-radius: 5px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  color: #F6927C;
}

p {
  color: #F6927C;
}

footer {
  background-color: #CBC556;
  height: 100px;
}
